.visualization-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.visualization-title {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.chart-row {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1200px;
    gap: 40px; /* Increase this value to add more space between histogram and line chart */
}

.chart-container {
    width: 48%;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pie-chart-container {
    width: 50%;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px; /* Increased to move the pie chart further down */
}
